{% extends "Header2.html" %}
{% block title %}Card Details{% endblock %}
{% block content %}
<html>
<head>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 20px;
  background-color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
  <p style="font-size: 30px;">Patient Details : </p>
  <div class="table100 ver2 m-b-110" style="max-width: 700px;">
    <table data-vertable="ver2" >
      <tbody>
        
        <tr class="row100">
          <th class="column100 column1" data-column="column1">Name</th>
          <td class="column100 column1" data-column="column1">{{ Data["Name"] }}</td>
        </tr>
        <tr class="row100">
          <th class="column100 column2" data-column="column2">DOB</th>
          <td class="column100 column2" data-column="column2">{{ Data["DOB"] }}</td>
        </tr>
        <tr class="row100">
          <th class="column100 column3" data-column="column3">Number</th>
          <td class="column100 column3" data-column="column3">{{ Data["Number"] }}</td>
        </tr>
        <tr class="row100">
          <th class="column100 column4" data-column="column4">AGE</th>
          <td class="column100 column4" data-column="column4">{{ Data["Age"] }}</td>
        </tr>
        <tr class="row100">
          <th class="column100 column5" data-column="column5">Gender</th>
          <td class="column100 column5" data-column="column5">{{ Data["Gender"] }}</td>
        </tr>
        <tr class="row100">
          <th class="column100 column6" data-column="column6">Height</th>
          <td class="column100 column6" data-column="column6">{{ Data["Height"] }}</td>
        </tr>
        <tr class="row100">
          <th class="column100 column7" data-column="column7">Address</th>
          <td class="column100 column7" data-column="column7">{{ Data["Address"] }}</td>
        </tr>
        <tr class="row100">
          <th class="column100 column8" data-column="column8">Genetic Disease</th>
          <td class="column100 column8" data-column="column8">{{ Data["Genetic Disease"] }}</td> 
        </tr> 
        <tr class="row100">
          <th class="column100 column9" data-column="column9">Addiction</th>
          <td class="column100 column9" data-column="column9">{{ Data["Addiction"] }}</td> 
        </tr> 
        <tr class="row100">
          <th class="column100 column10" data-column="column10">Genetic Disease</th>
          <td class="column100 column10" data-column="column10">{{ Data["Genetic Disease"] }}</td> 
        </tr> 
        <tr class="row100">
          <th class="column100 column11" data-column="column11">Allergies</th>
          <td class="column100 column11" data-column="column11">{{ Data["Allergies"] }}</td> 
        </tr> 
        <tr class="row100">
          <th class="column100 column12" data-column="column12">Blood Group</th>
          <td class="column100 column12" data-column="column12">{{ Data["Blood Group"] }}</td> 
        </tr> 
        <tr class="row100">
          <th class="column100 column13" data-column="column13">Weight</th>
          <td class="column100 column13" data-column="column13">{{ Data["Weight"] }}</td> 
        </tr> 
      </tbody>
    </table>
  </div>

  <p style="font-size: 30px;">Medical History </p>
  <div class="table100 ver2 m-b-110">
    <table data-vertable="ver2">
            <thead>
                    <tr class="row100 head">
                            <th class="column100 column1" data-column="column1">Date</th>
                            <th class="column100 column2" data-column="column2">Doctor</th>
                            <th class="column100 column3" data-column="column3">Diagnosis</th>
                            <th class="column100 column4" data-column="column4">Doctor ID</th>
                            <th class="column100 column5" data-column="column5">Hospital</th>
                            <th class="column100 column6" data-column="column6">PrescriptionUrl</th>
                            <th class="column100 column7" data-column="column7">ReportUrl</th>
                    </tr>
            </thead>
            <tbody>
                    {% for val in values %}
                    <tr class="row100">
                            <td class="column100 column1" data-column="column1">{{ val["Date"] }}</td>
                            <td class="column100 column2" data-column="column2">{{ val["Doctor"] }}</td>
                            <td class="column100 column3" data-column="column3">{{ val["Diagnosis"] }}</td>
                            <td class="column100 column4" data-column="column4">{{ val["DoctorID"] }}</td>
                            <td class="column100 column5" data-column="column5">{{ val["Hospital"] }}</td>
                            <td class="column100 column6" data-column="column6">
                             
                                <a href="{{ val['PrescriptionUrl'] }}"><button style="background-color:#ddd">Click Here</button></a>
                                <br>
                            
                        </td>
                        <td class="column100 column7" data-column="column7">
                               
                          <a href="{{ val['ReportUrl'] }}"><button style="background-color:#ddd">Click Here</button></a>
                                <br>
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
    </table>
</div>



    <form action="/doctor_past_patient/{{ uname }}/">
        <div class="container">
                <button type="submit" class="registerbtn">Back</button>
        </div>
    </form>
</body>
</html>
{% endblock %}