{% extends "Header2.html" %}
{% block title %}Pathologist Deshboard{% endblock %}
{% block content %}
<html>
<head>
<style>
    .btn {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 1% 5%;
  text-align: center;
  font-size: 100%;
  margin: 1% 1%;
  transition: 0.3s;
}

.btn:hover {
  background-color: #3e8e41;
  color: white;
}
</style>
</head>
<body style=" background-size: 110% 330%; background-repeat: no-repeat; background-image: url('/static/img/backgroung_index.jpg');">
    <h1>1) Lab-Report</h1>
    <form action = "/Upload_lab_report/" method = "POST" enctype = "multipart/form-data">

        <input type = "file" name = "file" />
        <input type="text" placeholder="Enter Patient ID" name="PID" required>
        <input type = "submit"/>
</body>
</html>
{% endblock %}